{% extends 'ClientInterface.html.twig' %}

{% block title %}Sign-up{% endblock %}

{% block body %}
    <div class="one-half img" style="background-image: url( {{ asset('ClientInterface/images/about.jpg') }}"></div>
    <div class="one-half ftco-animate">
        <div class="overlap">
            <div class="heading-section ftco-animate ">
                {% if app.user %}
                    <span class="subheading ftco-animate">Logged </span>
                    <br>
                    <span>
                <h3>As {{ app.user.email }} <a class="btn btn-primary btn-outline-primary  px-5 py-3" href="{{ path('app_logout') }}"> LOGOUT <span class="icon icon-close"></span> </a>
                      </h3>
               </span>

                    <span class="subheading">Login</span>
                    <h2 class="mb-4">FILL FORM</h2>
            </div>
            <div>


                    {% else %}
                    {{ form_start(form, {'attr': {'id': 'new_edit_utilisateur'}}) }}

                    <div class="d-md-flex">
                        <div class="form-group">
                            {{ form_label(form.email) }}


                        </div>
                        <div class="form-group ml-md-4">
                            {{ form_widget(form.email) }}
                        </div>
                    </div>


                    <div class="d-md-flex">
                        <div class="form-group">
                            {{ form_label(form.password) }}
                        </div>
                        <div class="form-group ml-md-4">
                            {{ form_widget(form.password) }}
                        </div>
                    </div>
                    <div class="d-md-flex">
                        <div class="form-group">
                            <label for="verifpass">Saisir une seconde fois le mot de passe</label>
                        </div>
                        <div class="form-group ml-md-4">
                            <input type="password" id="verifpass" required>
                        </div>
                    </div>
                <!---
                    <div class="d-md-flex">
                        <div class="form-group">
                            <div class="input-wrap">
                                <div class="icon"><span class="ion-md-calendar"></span></div>
                                <input type="text" class="form-control appointment_date" placeholder="Date">
                            </div>
                        </div>
                        <div class="form-group ml-md-4">
                            <div class="input-wrap">
                                <div class="icon"><span class="ion-ios-clock"></span></div>
                                <input type="text" class="form-control appointment_time" placeholder="Time">
                            </div>
                        </div> -->
                <div class="col-md-1">
                            <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
                            {{ form_end(form) }}
                            {% endif %}

                            <input type="hidden" name="_csrf_token"
                                   value="{{ csrf_token('authenticate') }}">

                        </div>
                    </div>


            </div>
        </div>
    </div>

{% endblock %}
